* {
    margin: 0;
    padding: 0;
   font-family: 'Nanum Myeongjo', serif;
}

*,
*::before *::after {
    box-sizing: border-box;
}


.container-fluid {
  background-color: beige!important;
  height: 130px;
}

header{
    position: sticky;
    top: 0;
}


.navbar{
    
    padding: 0 !important;
}

.navbar-brand {
  font-size: 40px;
  display: flex;
  gap: 1rem;
  margin-left: 50px;

}

.navbar-nav {
  font-size: 25px;
  display: flex;
  gap: 2rem
}

a:hover{
    color: green !important;
}



.solu{
    color: white !important;
    display: flex;
    position:absolute;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    margin: auto;

    font-size: 50px;

    
}

.img{
   height: 400px;
   background-image: url(https://giphy.com/gifs/cinemagraph-japan-river-i3Q3sx91EfmJq)
   
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: white!important;
}



 #section{
    color: white !important;
    line-height: 1.6;
    font-size: 1.3125rem;
    font-weight: 400;
    
}
section {
    padding: 3rem 0;
}


h1,
h2 {
    font-weight: 900;
    line-height: 1;
    margin-bottom: .5em;
}

p {
    margin-bottom: 1em;
    animation-duration: 3s;
    animation-name: slidein;
}



.container {
    border: 2px solid black;
    margin: 0 auto;
    width: 90%;
    background-color:  white !important;
    border-radius: 70px;
  
}

.text-center {
    text-align: center;
}


.split {
    display: flex;
    flex-direction: column;  
    padding: 15px;
}



.pic {
    display: block;
    max-width: 100%;
    
    border-radius: 50px;
    padding: 0px;
}
   



/*  footer here  */

.footer {
    background-color: #a4ac86;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.effect{
   text-decoration:  none; 
   color: black; 
 
}



.box {
    margin: 0 auto;
    width: 100%;
    font-size: 25px;
    text-align: center
}

.terms {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 20px;

}

.termss {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}
#video{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    margin:auto;
    padding:20px;
}

#vid{
    display:flex;
    margin:auto;
    width: 80vw;
}


@keyframes slidein {
    from {margin-right:100%}
    to{margin-right:0;}
}


@media only screen and (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
    


}

@media only screen and (max-width: 985px) {
  .navbar-collapse{
  background-color: white;
  opacity: 0.9;
}
  
}


@media only screen and (max-width: 600px) {
    
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 10px;
    }
    
    .terms {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
    margin-right: 20px;

}
    
}



@media only screen and (max-width: 600px) {

  .navbar-brand {
    font-size: 30px;
    margin-left: 0px;
  }

}


