*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

h1{
    margin-left: 20px;
}
body{
    width:100%;
    background-color: #e9edc9;
}
nav{
    position:sticky;
    top:0;
    display: flex;
    
    background-color:#fefae0;  
    
    height: 100px;
    align-items:center;
    justify-content:space-between;

    
    
}
li{
    list-style: none;

    
}

#header{
    display: flex;
    justify-content:flex-start;
    font-size: 40px
}
#idrow{
    display:flex;
    padding: 20px;
    justify-content:space-around;
    font-size:2vw;
    

}
.links{
    display: flex;
    flex-direction: row;
    gap:15px;

}
a:link { 
    text-decoration: none;
    }
a{
    color: black;
    
}
a:hover{
    color: green;
}

#main{
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#img1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    width: 100vw;
    background-image: url("https://media.istockphoto.com/photos/rays-of-sunlight-streaming-through-mossy-forest-clearing-woodland-picture-id1173805090?k=20&m=1173805090&s=612x612&w=0&h=twmZ0JoKZtL9gMA4JUFz-LRJZIi1kW9xGy9K8O87xHI="); 
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    margin: auto;
    height:350px;
    
    
}
#solu{
    display: flex;
    position:absolute;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    margin: auto;
    z-index: -1;
    font-size: 50px;
    
    
}

.everything{
     
     width: 100%;
     display: flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     margin:auto;

}

.container{
    display: flex;
    justify-content:center;
    align-items:center;
    border: 2px solid black;
    margin: 10px;
    width: 95vw;
    height: 45%;
    padding:20px;
}


.para{
    
    padding-top:30px;
    padding-bottom: 30px;
    
    padding-right:30px;
}

#video{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    margin:auto;
    padding:20px;
  
}

#vid{
    display:flex;
    margin:auto;
    width: 80vw;
}
footer{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    background-color:#a4ac86;
    height:50px;
    width:100%;

}

.row{
    height: 30vh; 
    width:35vw;
}



@media only screen and (max-width: 40em) {
  nav {
      flex-direction:column;
  }
  
}
@media only screen and (max-width: 300px) {
    nav {
      flex-direction:row;
  }
    #idrow{
        flex-direction:column;
    }
    #header{
        font-size: 10vw;
    }
}
@media only screen and (max-width: 580px) {
  .container{
      flex-direction:column;
      justify-content:center;
      width: 85vw;
      height: 45%;
  }
  .text{
    display: flex;
    flex-direction:column;
    align-content:center;
    margin: auto
      
  }
  section{
      flex-direction:column;
      justify-content:center;
  }
  .para{
    
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;

}
 .row{
   height: 30vh;
   width: 80vw;
  }

}


@media screen and (max-width:480px) {  
  .row{
    display: none;
  }
 .links, #idrow{
      font-size:5vw;
  }
 .links, #idrow{
      font-size:5vw;
  }
  footer{
      flex-direction:column;
  }
    nav {
      flex-direction:row;
      width: 100%
  }
  #img1, #solu{
      display: none;
  }
    #idrow{
        flex-direction:column;
    }
    #header{
        font-size: 5vw;
    }
}