*{
    margin:0;
    padding:0;
   
}




*,
*::before
*::after{
    box-sizing: border-box;
}

#section{
    line-height: 1.6;
    font-size: 1.3125rem;
    font-weight: 400;
    padding: 3rem 0;
   border: 2px solid black;
}


section{
     padding: 3rem 0;
}


h1,h2{
    
    font-weight: 900;
    line-height: 1;
    margin-bottom: .5em;
}

p{
    margin-bottom: 1em
}


.head{
    width: 100%;
    background-color: beige;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   font-size: 25px;
}

.title{
    margin-left: 30px;
}


.list{
    margin-right:  20px;
    
}


.list li{
    display: inline;
    margin-right: 20px;
}

.im{
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.container{
    border: 2px solid black;
     margin: 0 auto;
     width: 90%;
   
     
}

.text-center{
    text-align: center
}

/*
.pic{
    width: 200px;
    height: 200px;
}
 
 */
 
 .split{
     display: flex;
     flex-direction: column;
 }
 
 
 
img{
    display: block;
    max-width: 100%
    
}

/*  footer here  */ 
.footer{
    background-color: #dddddd;
    margin: 0 auto;
<<<<<<< HEAD
   display: flex;
justify-content: space-around;
 padding: .5rem 0;
=======
>>>>>>> 1dcdd5dd0bd4b8d688aa673af11d881610e43667
   
   
}

<<<<<<< HEAD


form{
    
    font-size: 25px;
    padding: .5rem 0;
=======
form{
    
    border: 2px solid black;
>>>>>>> 1dcdd5dd0bd4b8d688aa673af11d881610e43667
  
}

.box{
    
 border: 2px solid black;
  margin: 0 auto;
  width: 100%;
 font-size: 30px;
 text-align: center
  
}

#email{
    font-size: 20px;
    padding: 3px;
   

}
.submit{
    background-color: #f1c40f;
    padding: 4px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
}















<<<<<<< HEAD






.terms{
     display: flex;
    justify-content: flex-end;
     gap: 1rem;
     margin-bottom: 20px;
    
=======
.copyright{
    
    border: 2px solid black;
     width: 30%;
}






.terms{
     display: flex;
    justify-content: flex-end;
     gap: 1rem;
     margin-bottom: 5px;
     font-size: 30px
>>>>>>> 1dcdd5dd0bd4b8d688aa673af11d881610e43667
}


.termss{
     display: flex;
    justify-content: flex-end;
     gap: 1rem;
   
}




@media only screen and (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  
  .split > * {
      flex-basis: 100%;
  }
  
  .split > * + *{
      margin-left: 2em;
  }
}
